.jumbotron {
  background-image: url(https://wallpaperplay.com/walls/full/e/a/d/139847.jpg);
  background-position: center;
  color: white;
}

.container {
  background-color: lightgray;
}

body {
  background-color: lightgray;
}
